# This file is for setting paramters
# The file is loaded by libconfig

target = "MultiWSM";
#gauge = "Velocity";

# store all laser paramters here
laser = 
{
    offset = [100.0, 100.0];    // time offset before and after laser pulse trains (a.u.)
    pulses = 
    (
        {
            E0 = 0.001;                 // electric field strength in a.u.
            w0 = 0.014;                 // frequency in a.u.
            ncycles = 4.;              // time duration for pulses in (FWHM for gaussian envelope)
            ellip = 0.0;                // ellipticity of pulse
            cep = 0.0;                  // carrier-envelope phase (degree)
            t0 = 0.0;                   // middle point of the pulse
            phix = 0.;                  // angle between x-axis and semi-major axis in laser ellipse (degree)
            env_name = "gauss";          // name of envelope - "cos4", "gauss"  ("cos2" is eliminated due to numerical problem)

            thetaz = 0.;                // polar angle of propagation direction (degree)
            phiz = 0.;                  // azimuthal angle of propagation direction (degree)
        }
    );
};
# store all calculation options here 
calc = 
{
    Npoints = [10, 10, 10];           // Number of points, 1d ~ 3d
    dt = 0.1;                       // timestep (a.u.)

    # do not use dephasing time of occuptation - some discusstion needed
    T1 = -1.;                       // dephasing time of occupation (a.u.) set -1(=default value) to disable this. (infinite dephasing time)
    T2 = 220.;                       // dephasing time of coherence (a.u.) set -1(=default value) to disable this. (infinite dephasing time)
    # below parameters can be omitted
    ksfactor = [1.0, 1.0, 1.0];     // ksfactor = [xfac, yfac, zfac] --> xfac*axis_x, yfac*axis_y, zfac*axis_z
    shotNumber = 0;                 // Number of shots of density for a cycle of the first pulse (for analyze).    (default = 0)
    diagnostic = 0;                 // level of diagnostic.        (default = 0)

    InterIntra = true;              // True for enable inter/intra current separation. (this might affects speed of calculation)

    # overwrite BZ information. 
    # Using those when you need custom BZ shape or speicific point calculation
    # BZaxes = [1., 0., 0.,
    #           0., 1., 0.,
    #           0., 0., 1.];
	#BZorigin = [0., 0.]; #[-1.2797591, 0.];

};

MultiWSM = 
{
    n = 1;
    v = 0.2;
    alphan = 0.1;
    phi0 = 0.1;
    a0 = 1;
};